**/bin/
**/obj/
**/*.user
**/*.userosscache
**/*.suo
**/*.userprefs
**/*.dll
**/*.exe
**/*.pdb
**/*.cache
**/packages/
**/project.lock.json
**/*.psess
**/*.vsp
**/*.vspx
project.assets.json
*.pfx
*.snk
*.vs